.bg-theme {
  background-color: #ff5d00;
}

.border-theme {
  border-color: #ff5d00;
}

.text-theme {
  color: #ff5d00;
}

.btn-theme {
  background-color: #ff5d00;
  border-color: #ff5d00;
  color: white;
}

.text-justify {
  text-align: justify;
}
