.bg-theme {
  background-color: #ff5d00;
}

.border-theme {
  border-color: #ff5d00;
}

.text-theme {
  color: #ff5d00;
}

.btn-theme,
.btn-outline-theme:hover {
  background-color: #ff5d00;
  border-color: #ff5d00;
  color: white;
}

.btn-outline-theme,
.btn-theme:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: #ff5d00;
  color: #ff5d00;
}

.text-justify {
  text-align: justify;
}
