@import 'https://fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900';

@import 'https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?rd5re8';

::selection {
    background: #555;   
    color: #fff;
}
::-moz-selection {
    background: #555;    
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #151515;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Yantramanav', Arial, sans-serif;
    color: #151515;
}

header,
nav {
    display: block;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0 !important;
    -webkit-padding-start: initial !important;
    -moz-padding-start: initial;
}

tr > .title {
    font-size: 1.5rem;
}

.progress,
.progress-bar {
    height: 5em;
    line-height: 1.5;
    font-size: small;
}

.cursor {
    cursor: zoom-in;
}

button {
    background: transparent;
    border: none;
}

button:focus {
    outline: none;
}

img {
    width: 100%;
}

h1,
h2,
h5,
h6 {
    color: #ff5d00;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: calc(70px + 1vw);
}

h2 {
    font-size: calc(36px + 16 * (100vw - 992px) / 1508);
}

h3 {
    font-size: calc(28px + 16 * (100vw - 992px) / 1508);
    margin-bottom: 20px;
    color:#59453a;
}

h4 {
    font-size: calc(24px + 16 * (100vw - 992px) / 1508);
    font-weight: 300;
    line-height: 2;
}

h5 {
    font-size: 20px;
    font-weight: 400;
    color:#59453a;
}

h6 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: calc(10px + 10 * (100vw - 992px) / 1508);
}

p {
    font-size: calc(18px + 2 * (100vw - 992px) / 1508);
    line-height: 1.8;
    font-weight: 500;
}

/* 1.2 Specials Classes */

@font-face {
  font-family: knewave;
  src: url('../css/fonts/knewave.ttf');
}

@font-face {
    font-family: lobster;
    src: url('../css/fonts/lobster.otf');
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 -1px 1.5px 0 rgba(0,0,0,.12), 0 -1px 1px 0 rgba(0,0,0,.24);
}

.totop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5%;
    background-color: #ff5d00;
    left: 87%;
    z-index: 1;
    border-radius: 50px;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.totop i {
    display: block;
    margin: auto;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 55px;
    color: #fff;
}

.ms-corner {
    position: absolute;
    margin-left: 85%;
    background-color: #ff5d00;
    width: 15%;
    height: 400px;
}

.ms-corner > a > h2 {
    margin-bottom: 0.5rem;
    margin-top: 28rem;
}

.sidebar {
    position: absolute;
    margin-right: 0%;
    margin-left: 95%;
    width: 5%;
    height: 100vh;
}

.theme-bg {
    background-color: #ff5d00;
    color: white;
}

.theme-invert {
    background-color: #fff;
    color: #ff5d00;
}

.bg {
    position: absolute;
    margin-left: 0%;
    margin-right: 2.5%;
    margin-top: 30vh;
    background-color: rgba(84, 89, 97, 0.35);
    width: 97.5%;
    height: 60vh;
}

.center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.ms-btn--slider {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  width: 11em;
  font-weight: 600;
  letter-spacing: .15em;
  margin: 15px auto;
    text-align: center;
    display: inline-block;
    background: #fff;
    color: #151515;
    padding: .5em 0;
}

.ms-btn--slider::before{
    content: '';
    height: .1rem;
    margin-right: .7rem;
    background: #fff;
    transition: width .3s ease;
        display: none;
        width: 0;
}

.ms-btn--slider:hover::before {
  width: 3rem;
}

.ms-header {
    position: absolute;
    width: 100%;
    background-color: #f7f7f7;
    z-index: 3;
}

.ms-logo {
    position: relative;
    z-index: 7;
    height: 50px;
}

.logo-dark,
.logo-light {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease .4s;
}

.ms-logo img {
    width: auto;
    height: 100%;
}

.logo-dark.current,
.logo-light.current {
    opacity: 1;
}

.logo-dark.active,
.logo-light.active {
    opacity: 1;
    transition: opacity .1s;
}

.ms-nav {
    padding: 2em 3em;
    color: inherit;
}

.ms-nav {
    display: flex;
    align-items: center;
}

.height-full-viewport {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: #151515;
    z-index: 5;
    overflow: hidden;
    transition: height .8s cubic-bezier(0.3, 1, 0.3, 1) .1s;
}

.ms-navbar {
    z-index: 6;
    margin: 0 auto;
    display: block;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
}

.ms-nav.is-visible .height-full-viewport {
    height: 100vh;
    transition: height 1s ease;
}

.nav-item {
    cursor: pointer;
    padding: .75em;
    opacity: 0;
    width: 500px;
    margin-left: 3em;
    transition: opacity .3s ease;
}

.ms-navbar a {
    display: block;
}

.ms-navbar .ms-btn {
    display: inline-block;
    text-transform: uppercase;
    line-height: 1;
    padding: 0 0.25em;
    position: relative;
}

.ms-navbar .ms-btn {
    font-size: 1.75em;
    letter-spacing: .02em;
    color: #fff;
    font-weight: 700 !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ms-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    height: .1rem;
    top: 50%;
    width: 0;
    transition: width .3s ease;
}

.is-visible .nav-item {
    opacity: 1;
    transition: opacity 2s cubic-bezier(0.16, 1.08, 0.38, 0.98) .3s;
}

.nav-item .ms-btn {
    transition: all .3s ease;
    letter-spacing: 0.3rem;
}

.nav-item:active .ms-btn,
.nav-item:focus .ms-btn,
.nav-item:hover .ms-btn {
    opacity: 0.5;
    padding-left: 2.4rem;
}

.nav-item:active .ms-btn::before,
.nav-item:focus .ms-btn::before,
.nav-item:hover .ms-btn::before {
    width: 2rem;
}

.ms-preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    background-color: #151515;
}

.ms-main-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
    background-color: #fff;
}

.ms-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 12em;
}

.section-block {
    min-height: 100vh;
    width: 100%;
    padding: 10vh 10%;
}

.section-block-side {
    width: 100%;
    padding: 10vh 10%;
}

.section-side {
    position: absolute;
    margin: 0% 95% 0% 0%;
    width: 5vw;
    height: 50vh;
    background-color: #ff5d00;
}

.theme-main {
    color: #ff5d00
}

.section-header {
    text-transform: uppercase;
    position: relative;
    font-family: 'knewave', Arial, sans-serif;
    letter-spacing: .2rem;
    line-height: 3;
    padding: 2rem 0em;
}

.section-subheader {
    text-transform: uppercase;
    position: relative;
    margin: 10px 0;
    color: #494949;
}

.section-desc {
    width: 100%;
    font-size: 1.5em;
    line-height: 1.5;
    color: #545961;
    letter-spacing: .05em;
    text-align: justify;
}

@media only screen and (max-width: 805px) {
    h1 {
        font-size: calc(48px + 1vw);
    }
    h6 {
        font-size: 16px;
    }
    blockquote {
        margin: 0 auto 15px;
        font-size: 1em;
    }
    .expanded-timeline {
        width: 50vh;
    }
    .ms-nav {
        padding-top: 1.4em;
    }
    .ms-navbar .ms-btn {
        font-size: 1.4em;
    }
    .ms-navbar {
        position: relative;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
    }
    .nav-item {
        display: inline-block;
        width: auto;
        margin-left: 0;
    }
    .ms-nav {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 1.4em;
    }
    .qrCode{
       display: none;
    }
    .overlay {
        background: -moz-linear-gradient(top, black 0, transparent 35%, transparent 45%, rgba(0, 0, 0, 0.9) 100%);
        background: -webkit-linear-gradient(top, black 0, transparent 35%, transparent 45%, rgba(0, 0, 0, 0.9) 100%);
        background: linear-gradient(to bottom, black 0, transparent 35%, transparent 45%, rgba(0, 0, 0, 0.9) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#c9000000', GradientType=0);
    }
    
    .expanded-timeline {
        display: none;
    }
    .slide-inner--info {
        width: 100%;
        text-align: center;
        min-height: 50px;
        bottom: 10vh;
        padding-left: 0;
        color: #fff;
        z-index: 1;
        opacity: 0;
        transition: opacity 1s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .ms-btn--slider {
        margin: 15px auto;
        display: inline-block;
        letter-spacing: .15em;
        background: #fff;
        color: #151515;
        padding: .5em 0;
    }
    .ms-btn--slider::before {
        content: '';
        display: none;
        width: 0;
    }
    .ms-container {
        padding-top: 6em;
        padding-bottom: 3em;
    }
    .ms-container.home-slider {
        padding-bottom: 0 !important;
    }
    .section-block {
        padding: 10vh 7.5% 10vh 7.5%;
    }
    
    .section-desc {
        width: 100%;
        font-size: 1.2em;
        line-height: 1.5;
        color: #545961;
        letter-spacing: .05em;
    }
    .section-photo {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .post-item,
    .post-item:nth-child(2n) {
        padding-right: 15px;
        padding-left: 15px;
    }
    #contact>div {
        margin-bottom: 30px;
    }
    .ms-footer .copyright {
        margin-left: auto;
    }
    .ms-footer .socials {
        display: none;
    }
}

.slide-inner--info>h1, .ms-btn {
    font-family: 'knewave', Arial, sans-serif;

}

.logo-light {
    font-family: 'knewave', Arial, sans-serif;
}

h1>span {
    font-size: 40px;
    color: darkgray;
}



/**
 * 5. Albums
 */

 .filtr-container {
    transition: height .5s ease-out;
    overflow: hidden;
}
.filtr-btn {
    display: inline-block;
    margin-bottom: 2.4em;
}
.filtr-btn li {
    cursor: pointer;
    display: inline-block;
    opacity: .5;
    margin-bottom: 15px;
    transition: opacity .3s ease;
}
.filtr-btn h6 {
    margin-bottom: 0;
    padding-right: 1.2em;
}
.filtr-btn li.active {
    opacity: 1;
}
.filtr-btn li:hover {
    opacity: 1 !important;
}
.album-item {
    padding-bottom: 1.8em;
}
.album-item a {
    padding-top: 60%;
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 9;
}
.album-item-img {
    position: absolute;
    width: 100.5%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(1);
    transition: transform .3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.album-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100.5%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}
.album-item-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s ease;
}
.album-item-overlay h5 {
    position: relative;
    color: #fff;
    margin: 0;
    max-width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    transform: scale(1.5);
    opacity: 0;
    transition: all .3s ease;
}
.album-item:hover .album-item-img {
    transform: scale(1.1);
}
.album-item:hover .album-item-cover,
.album-item:hover .album-item-overlay h5 {
    opacity: 1;
    transform: translateZ(0);
}